footer {
  background-color: #305F72;
  color: white;
}

a {
  text-decoration: none;
}


.c{
  margin-right: 30px;
}

.img-logo{
  width: 55px;
  height: 40px
}

img{
  width: 83px;
  height: 61px;
  border-radius: 50%;
}
