<div class="container overflow-hidden">
  <div class="row r1">
    <input class="time" style="margin-right: 2em" type="date" [(ngModel)]="date">
  </div>
  <div class="row gx-5">

    <div class="col">
      <div class="p-3 border bg-light">
        <div>
          <mat-form-field class="nav-item dropdown" appearance="outline">
            <mat-label class="labelSelect">Choisir un station</mat-label>
            <mat-select [(ngModel)]="stationnom">
              <mat-option id="ccc" *ngFor="let station of stations" [value]="station.nomStation">
                {{station.nomStation}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="mb-3">
          <input class="form-control" type="file" id="formFile" (change)="onFileChange($event)" multiple="false">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">
        <app-bareme-volume></app-bareme-volume>
      </div>
    </div>
  </div>

    <div class="row row1">
      <span class="select">
        <select name="province" id="province" [(ngModel)]="selected">
        <option style="font-family: 'Arial Black',fantasy" value="tous">Stations</option>
         <option *ngFor="let barrage of barrages" [value]="barrage.name">{{barrage.name}}</option>
         <option *ngFor="let station of stations" [value]="station.nomStation">{{station.nomStation}}</option>

       </select>
    </span>
      <span class="topTable ml-auto" style="padding:4px;">
          <button style="display: inline-block;background-color:#B0E0E6;margin-right: 1em"
                  class="btn btn1" (click)="findBaremes()">Valider
          </button>
      </span>

    </div>
  <div class="row">
    <mat-nav-list>
      <a mat-list-item class=" list-item"   *ngFor="let link of baremeDates" (click)="open(content) ; findByDate(link)"> {{ link |date: 'MM/dd/yyyy' }} </a>
    </mat-nav-list>
  </div>
</div>

  <ng-template #content let-modal>

    <div class="modal-header">
      <button class="btn  btn-sm" (click)="exportPng()"><i class="fa fa-print"></i>png</button>
      <button class="btn btn-sm" (click)="exportPdf()"><i class="fa fa-print"></i>pdf</button>
      <button class="btn  btn-sm" (click)="exportXlsx()"><i class="fa fa-print"></i>xlsx</button>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div id="print" class="modal-body">
      <div class="row row-header">
        <div class="col-sm-4"><img class="img1"  src="images/icon.png" alt=""></div>
        <div class="col-sm-6"><strong style="color: #2C3E50">BAREME {{ baremesFix[0].nom}}  {{baremesFix[0].dateTime | date: 'MM/dd/yyyy'}}</strong></div>
        <div class="col-sm-2"><img class="img2" src="images/icon.png" alt=""></div>
      </div>
      <table  class="table table-bordered table-striped bg-light">
        <thead id="cc">
        <tr>

          <th scope="row">H(cm)</th>
          <th scope="row">0</th>
          <th scope="row">1</th>
          <th scope="row">2</th>
          <th scope="row">3</th>
          <th scope="row">4</th>
          <th scope="row">5</th>
          <th scope="row">6</th>
          <th scope="row">7</th>
          <th scope="row">8</th>
          <th scope="row">9</th>
        </tr>
        </thead>
        <tbody class="bg-light">
        <tr *ngFor="let bareme of baremesFix">
          <td>{{bareme.hauteur.toFixed(2)}}</td>
          <td>{{bareme.a0.toFixed(2)}}</td>
          <td>{{bareme.a1.toFixed(2)}}</td>
          <td>{{bareme.a2.toFixed(2)}}</td>
          <td>{{bareme.a3.toFixed(2)}}</td>
          <td>{{bareme.a4.toFixed(2)}}</td>
          <td>{{bareme.a5.toFixed(2)}}</td>
          <td>{{bareme.a6.toFixed(2)}}</td>
          <td>{{bareme.a7.toFixed(2)}}</td>
          <td>{{bareme.a8.toFixed(2)}}</td>
          <td>{{bareme.a9.toFixed(2)}}</td>
        </tr>
        </tbody>

      </table>
    </div>

    <div class="modal-footer">
    </div>
  </ng-template>




