<div class="container c1 col-md-12 ">
  <div class="row row1 col-md-11">
    <span class="topTable" style="padding:4px">
 <div class="mb-3 float-right">
    <div class="btn-group mr-2">
      <form class="form-inline my-2 my-lg-0 justify-content-center">
        <input name="searchTerm" #searchInput="ngModel" class="form-control mr-sm-2" ngModel
               (ngModelChange)="searchStations(searchInput.value)" type="search" placeholder="Recherche stations...">
      </form>
    </div>
  </div>

    </span>

    <span class="topTable ml-auto" style="padding:4px;">
      <button style="display: inline-block;background-color:#1090bc;margin-right: 1em" routerLink="station-create" (click)="refresh()" class="btn btn1"><i class="fa fa-plus-circle"></i>nouvelle station</button>
<!--      <button style="background-color:#B0E0E6 " class="btn  btn-sm"><i class="fa fa-print"></i>xlsx</button>-->
    </span>
  </div>


<!-- stations table -->


  <table class="table table-hover col-md-11 shadow p-3 mb-5 bg-body rounded">
    <thead  class="table-borderless monTable">
    <tr class="text-center">
      <th>Nire</th>
      <th>Nom de station</th>
      <th>type de station</th>
      <th>Sous bassin</th>
      <th>Province</th>
      <th>Oued</th>
      <th>Commune</th>
      <th>Carte</th>
      <th>Localite plus proche</th>
      <th>Surface</th>
      <th>Statut Foncier</th>
      <th>Actions</th>
    </tr>
    </thead>
        <tbody *ngFor="let station of stations index as i">
        <tr class="text-center">
          <td >{{station?.nire}}</td>
          <td >{{station?.nomStation}}</td>
          <td >{{station?.typeStation}}</td>
          <td >{{station?.sousbassin}}</td>
          <td >{{station?.province}}</td>
          <td >{{station?.oued}}</td>
          <td >{{station?.commune}}</td>
          <td >{{station?.carte}}</td>
          <td >{{station?.localiteplusproche}}</td>
          <td >{{station?.surface}}</td>
          <td >{{station?.statutFoncier}}</td>

          <td class="">
            <div class="btn-group">
              <button  class="btn btn-sm btn-outline-warning" routerLink="station-create"  (click)="update(i, station)" ><i class="fas fa-edit" ></i></button>
              <button  class="btn btn-sm btn-outline-info" (click)="info(station); open(content)" ><i class="fa fa-info"></i></button>
            </div>
          </td>
        </tr>
        </tbody>
  </table>

</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <button class="btn png  btn-sm" (click)="export()" ><i class="fa fa-print"></i>png</button>
    <button class="btn pdf btn-sm" (click)="exportPdf()"><i class="fa fa-print"></i>pdf</button>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
  </div>
  <div id="print" class="modal-body">
    <img src="images/agence-bassin-tensift.png">
    <h2>FICHE SYNOPTIQUE</h2>

    <table style="margin:0" class="table table-bordered h5 ">
      <thead style="text-align: center">
      <tr>
        <th style="background-color: #F18C8E" colspan="2" scope="col">
          <div style="float: left">
            STATION:  {{station.nomStation}} &nbsp; ( {{station.nature}} )
          </div>
          <div style="float: right">
            N°IRE : {{station.nire}}
          </div>

        </th>
      </tr>
      <tr>
        <th colspan="2" scope="col"> GENERALITES</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <h5>TYPE DE STATION : </h5>   <span>{{station.typeStation}}</span><br>
          <h5>PROVINCE : </h5> <span>{{station.province}}</span><br>
          <h5>COMMUNE : </h5> <span>{{station.commune}}</span><br>
          <h5>LOCALITE LA PLUS PROCHE : </h5> <span>{{station.localiteplusproche}}</span><br>
          <h5>TELETRANSMISE : </h5> <span>{{station.teletransmise}}</span><br>
          <h5>ACCES : </h5> <span>{{station.acces}}</span><br>
          <h5>CARTE 1/50_000 : </h5> <span>{{station.carte}}</span><br>
          <h5>COORDONNEES : </h5> <br> <span class="cord">   X = {{station.x}}</span> <br> <span class="cord">   Y = {{station.y}}</span> <br>  <span class="cord">   Z = {{station.z}}</span><br>
        </td>
        <td>
          <h5>NUMERO DE POSTE: </h5> <span>{{station.nrePoste}}</span><br>
          <h5>SOUS BASSIN: </h5> <span>{{station.sousbassin}}</span><br>
          <h5>STATUT FONCIER : </h5> <span>{{station.statutFoncier}}</span><br>
          <h5>DATE DE MISE EN SERVICE : </h5> <span>{{station.dateMiseEnService | date: 'MM/dd/yyyy'}}</span><br>
          <h5>OUED : </h5> <span>{{station.oued}}</span><br>
          <h5>SUPERFICIE BV (km2) : </h5> <span>{{station.surface}}</span><br>
        </td>
      </tr>
      </tbody>
    </table>
    <table style="margin:0" class="table table-bordered h5">
      <thead style="text-align: center">

      <tr>
        <th colspan="2" scope="col"> L'OBSERVATEUR</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <h5>NOM ET PRENOM : </h5> <span>{{station.gardien.nomPrenom}}</span><br>
          <h5>CIN : </h5> <span>{{station.gardien.cin}}</span><br>
          <h5>DATE DE NAISSANCE: </h5> <span>{{station.gardien.datenaissance | date: 'MM/dd/yyyy'}}</span><br>
          <h5>DATE DE RECRUTEMENT : </h5> <span>{{station.gardien.entrerFonction | date: 'MM/dd/yyyy'}}</span><br>
          <h5>TELE: </h5> <span>{{station.gardien.ntel}}</span><br>
        </td>
        <td>
          <h5>AGE : </h5> <span>{{station.gardien.age}}</span><br>
          <h5>SITUATION FAMILIALE : </h5> <span>{{station.gardien.situationfami}}</span><br>
          <h5>SITUATION ADMINISTRATIVE : </h5> <span>{{station.gardien.situationadministrative}}</span><br>
          <h5>NIVEAU SCOLAIRE : </h5> <span>{{station.gardien.niveauscolaire}}</span><br>
        </td>
      </tr>
      </tbody>
    </table>

    <table style="margin:0" class="table table-bordered h5">
      <thead style="text-align: center">

      <tr>
        <th colspan="3" scope="col"> LIMITE BATTERIE D’ECHELLE</th>
      </tr>
      <tr style="background-color: #15737c ; color: #FFFFFF">
        <th style="border-bottom: none;" scope="col">N° BATTERIE</th>
        <th  colspan="2" scope="col">LIMITE DE LA BATTERIE</th>
      </tr>
      <tr style="background-color: #15737c; color: #FFFFFF ">
        <th style="border-top: none"></th>
        <th>MIN</th>
        <th>MAX</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let batterie of batteries">
        <td>{{batterie.nre}}</td>
        <td>{{batterie.min}}</td>
        <td>{{batterie.max}}</td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="modal-footer">
  </div>
</ng-template>
