<ngb-carousel #carousel [interval]="3000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
  <ng-template ngbSlide >
    <div class="carousel-caption">
      <h3>My slide  title</h3>
    </div>
    <a  target="_blank" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img src="images/carte1.jpg" alt="My image description">
      </div>
    </a>
  </ng-template>

  <ng-template ngbSlide >
    <div class="carousel-caption">
      <h3>My slide  title</h3>
    </div>
    <a  target="_blank" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img src="images/carte2.jpg" alt="My image description">
      </div>
    </a>
  </ng-template>




  <ng-template ngbSlide >
    <div class="carousel-caption">
      <h3>My slide  title</h3>
    </div>
    <a  target="_blank" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img src="images/nature0.jpg" alt="My image description">
      </div>
    </a>
  </ng-template>


  <ng-template ngbSlide >
    <div class="carousel-caption">
      <h3>My slide  title</h3>
    </div>
    <a  target="_blank" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img src="images/nature1.jpeg" alt="My image description">
      </div>
    </a>
  </ng-template>

  <ng-template ngbSlide >
    <div class="carousel-caption">
      <h3>My slide  title</h3>
    </div>
    <a  target="_blank" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img src="images/nature2.jpeg" alt="My image description">
      </div>
    </a>
  </ng-template>




  <ng-template ngbSlide >
    <div class="carousel-caption">
      <h3>My slide  title</h3>
    </div>
    <a  target="_blank" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img src="images/nature3.jpg" alt="My image description">
      </div>
    </a>
  </ng-template>


  <ng-template ngbSlide >
    <div class="carousel-caption">
      <h3>My slide  title</h3>
    </div>
    <a  target="_blank" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img src="images/nature4.JPG" alt="My image description">
      </div>
    </a>
  </ng-template>


  <ng-template ngbSlide >
    <div class="carousel-caption">
      <h3>My slide  title</h3>
    </div>
    <a  target="_blank" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img src="images/nature5.jpeg" alt="My image description">
      </div>
    </a>
  </ng-template>



  <ng-template ngbSlide >
    <div class="carousel-caption">
      <h3>My slide  title</h3>
    </div>
    <a  target="_blank" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img src="images/nature6.jpg" alt="My image description">
      </div>
    </a>
  </ng-template>


  <ng-template ngbSlide >
    <div class="carousel-caption">
      <h3>My slide  title</h3>
    </div>
    <a  target="_blank" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img src="images/nature7.jpeg" alt="My image description">
      </div>
    </a>
  </ng-template>

  <ng-template ngbSlide >
    <div class="carousel-caption">
      <h3>My slide  title</h3>
    </div>
    <a  target="_blank" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img src="images/nature8.jpg" alt="My image description">
      </div>
    </a>
  </ng-template>




  <ng-template ngbSlide >
    <div class="carousel-caption">
      <h3>My slide  title</h3>
    </div>
    <a  target="_blank" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img src="images/nature9.jpg" alt="My image description">
      </div>
    </a>
  </ng-template>


</ngb-carousel>

<hr>


<marquee behavior="scroll" direction="left"> <h1> ABHT: Pour une gestion intégrée et un développement durable des ressources en eau </h1> </marquee>


<div class="row col-md-12">
  <div class="col-2 bg-light shadow p-3 mb-5 bg-body rounded">
    <h4>Ressources humains</h4>
    <div class="custom ">
      <ul>
        <li><a routerLink="barrages">Liste des barrages</a></li>
        <li><a routerLink="stations">Liste des stations</a> <a style="color: #0000cc;"></a></li>
      </ul>
    </div>
  </div>
  <div class="col-2 bg-light shadow p-3 mb-5 bg-body rounded">
    <h4>Suivi des ressources en eau</h4>
    <div class="custom ">
      <ul>
        <li><a routerLink="situation-journaliere">Situation hydrologique</a></li>
        <li><a routerLink="situationBarrage-list">Situation des barrages</a></li>
        <li><a routerLink="situation-station-list">Situation des stations</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-2 bg-light shadow p-3 mb-5 bg-body rounded" >
    <h4>Domaine Public Hydraulique</h4>
    <div class="custom ">
      <ul>
        <li><a href="">Suivi des dossiers d’autorisations</a></li>
        <li><a href="">Redevances</a></li>
        <li style="visibility: hidden;"><a href="#">Redevance</a></li>
      </ul>
    </div>
  </div>

  <div style="height: max-content;" class="col-2 bg-light shadow p-3 mb-5 bg-body rounded">
    <h4>Publications</h4>
    <div class="custom ">
      <ul>
        <li><a href="">PDAIRE</a></li>
        <li><a href="">Stratégie Nationale de l’Eau</a></li>
        <li><a href="">Stratégie de sauvegarde des RE</a></li>
      </ul>
    </div>
  </div>

  <div class="col-6 bg-light shadow p-3 mb-5 bg-body rounded">
    <button style=" float: right" class="btn btn1 btn-sm" (click)="getGraph()"><i class="fas fa-sync"></i></button>

    <canvas id="canvas1"


    >{{mixedChart}}</canvas>
  </div>
  <div  style="    margin-left: 20px;" class="col-5 bg-light shadow p-3 mb-5 bg-body rounded">
    <canvas class="chart" baseChart
            [data]="[this.calculeTotale(2), this.calculeTotale(1)]"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [colors]="pieChartColors"
            [legend]="pieChartLegend">
    </canvas>
  </div>

</div>


